* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
